


html, body {
    margin: 5;
    min-height: 60px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

img {
    width: 50;
    height: 50;
    margin: auto;
    display: block;
}

p {
    padding: 5px;
    margin: auto;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#check {
    display: none;
    position: absolute;
}

label[for="check"] {

    transition: 0.4s;
    opacity: 0.5;
    background: url('images/ExtLogo.png') no-repeat;
    cursor: pointer;
}

#check:checked + label[for="check"] {
    transition: 0.4s;
    opacity: 1;
    background: url('images/ExtLogo.png') no-repeat;
}
