.prettyDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    margin-left: 75px;
    margin-right: 35%;
}

.infotextdiv {
    margin-left: 80px;
}
.navDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    margin-left: 150px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.158);
    min-height: 25px;
    width: 250px;
    background-color: white;
}

div.pagebodydiv {
    margin-left: 105px;
    
}

.pagetitlediv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 250px;
}

.pagetitlediv h2 {
    padding: 0;
    margin-left: 145px;
    font-weight: bold;
    background-image: url('images/uofl_landscape') !important;
    background-position: center center;
    background-size: cover;
}


button {
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    padding: 14px;
    display: inline-block;
    background-color: #ffe253;
    transition: 0.3s;
    border: 0px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
    border-radius: 10px;
    background-color: #ffe2509f;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.btn-nav {
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    padding: 14px;
    display: inline-block;
    background-color: #06559e00;
    transition: 0.3s;
    border: 0px;
    box-shadow: none;
    color: white;
    font-weight: bold;
}

.btn-nav:hover {
    border-radius: 0px;
    background-color: #3d3fccc5;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}